body
{
font-family:sans-serif;
color:grey;
background-color:black;
margin:0px;
padding:0px;
background-image:url(4223-download-for-free-dark-wood-transparent-pattern-free-png.jpg);
}
#cover
{
height:700px;
widht:1200px;

}
#header
{
color:black;
//background-color:brown;
font-style:italic;
background-image:url(cropped-baby-header.jpg);
margin:0px;
height:20%;
text-align:right;
display:block;
border-color:black;
border-style:solid;
padding:0px 0px 0px 0px;
}	
#footer
{
height:8%;
background-color:black;
clear:left;
}				
#main
{
border-color:black;
background-image:url(header-bg-top.jpg);
//background-color:brown;
height:70%;
width:450px;
padding:15px;
margin:10px 650px 10px 10px;
//clear:right;
border-style:solid;
border-width:3px;
}

#sides
{
border-color:black;
border-width:3px;
border-style:solid;
background-image:url(header-bg-top.jpg);
float:right;
//background-color:brown;
width:500px;
height:70%;
padding:15px;
margin:10px 10px 10px 10px;
}	
input[type=text],input[type=number]
{
border:1px solid black;
border-radius:1em;
-webkit-apperance: none;
}	
input[type=checkbox]
{
cursor:pointer;
width:15px;
height:15px;

}
.button
{
background-color:grey;

}		
